﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <a asp-action="CreateAuthor">Добавить автора</a> <br>
        <a asp-action="CreatePrintingEdition">Добавить печатное издание</a>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
